body {
  font-family: "Noto Serif", serif;
  margin: 0;
  background: radial-gradient(#9ff6e5, #d25ff9);
  display: grid;
  height: 100vh;
  width: 100vw;
  grid-template-columns: 1fr;
  grid-template-rows: 64px auto;
}

h1 {
  margin: 10px 0;
}

header {
  border-bottom: 1px dashed #888;
}

/*
HOME PAGE
*/
/*
HEADER
*/

.header {
  grid-column: 1;
  grid-row: 1;
}

.header__site-name {
  text-align: center;
  margin: 0;
  padding: 10px 0;
}

/*
CONTENT
*/
.content {
  grid-column: 1;
  grid-row: 2;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50px auto;
}
.content__title {
  text-align: center;
  margin: 0;
  grid-column: 1;
  grid-row: 1;
}

.content__highlight {
  grid-column: 1;
  grid-row: 2;
}

.spirograph--normal {
  --stroke-color: rgb(156, 206, 18);
  --stroke-width: 0.25px;
  --fill-color: rgba(160, 243, 6, 0.1);
  --stroke-start-color: rgb(63, 14, 102);
  --stroke-halfway-color: rgb(241, 25, 223);
  --stroke-end-color: rgb(63, 14, 102);
}

/**
ANIMATIONS
**/

/*
HELPERS
*/

.text-center {
  text-align: center;
}

.opacity-zero {
  opacity: 1;
}

svg#lessPoly {
  position: absolute;
  left: 0;
  top: 0;
  mask: url("#spiromask");
}

svg[id^="vis"] {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  body {
    font-size: 2.3em;
    grid-template-rows: 130px auto;
  }
}
