body {
    font-family: 'Noto Serif', serif;
    margin: 0;
    height: 1000px;
}

h1 {
    margin: 10px 0;
}

header {
    border-bottom: 1px dashed #888;
}


/*
HELPERS
*/

.text-center {
    text-align: center;
}

.opacity-zero {
    opacity: 1;
}

svg#lessPoly {
    position: absolute;
    left: 0;
    top: 0;
    mask: url('#spiromask');
}

svg[id^=vis] {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	z-index: 999;
}

#controls{
position: fixed;
z-index: 9000;
bottom: 25px;
left: 50%;
width: 250px;
transform: translateX(-50%);
text-align: center;
background: rgba(0,0,0,.4);
padding:10px;
border:1px solid white;
border-radius:5px;
color:#fff;
font-family:sans-serif;
font-size:12px;
line-height:19px;
}
#controls > div{

}
#controls > div> label{
	width: 90px;
	font-size: 12px;
	text-align: right;
	display: inline-block;
}
#constrols > div> input{

}
#controls > div > span{
	width:50px;
}

