@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css");
:root {
  --black: #010101;
  --white: #ffffff;
  --viva-magenta: #be3455;
  --coral-red: #fc4445;
  --turquoise: #26a9a3;
  --turquoise-light: #3feee6;
  --turquoise-lighter: #CAFAFE;
  --turquoise-dark: #55bcc9;
  --turquoise-darker: #2498a0;
  --scheme-color: #97caef;
  --purple: #ef6cf4;
  --puple-light: #fb81fd;
  --purple-dark: #844786;
}

body {
  width: 100vw;
  overflow-x: hidden;
}

body {
  font-size: 16px;
  font-family: "IBM Plex Sans", sans-serif;
  margin: 0;
  color: #ffffff;
}

.header {
  display: block;
}

.content {
  display: block;
  min-height: 100dvh;
}

.highlight {
  height: 100dvh;
  width: 100vw;
  background: #abbe34;
}

.highlight__header {
  position: absolute;
  top: 0;
  z-index: 99;
  display: grid;
  grid-template-rows: 100px 50px;
  align-content: center;
  align-items: center;
  height: 100dvh;
  text-align: center;
  width: 100vw;
}

.highlight__main-header {
  font-size: 3.14em;
  margin: 0;
  color: var(--black);
  font-weight: normal;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.highlight__sub-header {
  font-size: 1.57em;
  margin: 0;
  color: var(--black);
  font-weight: normal;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.highlight__items {
  min-height: 100dvh;
  opacity: 0;
  transition: opacity 1s ease-in;
}

.highlight__item {
  height: 100dvh;
  width: 100vw;
  position: absolute;
}

.intro {
  height: 100dvh;
  width: 100dvw;
  background: var(--viva-magenta);
  position: relative;
}

.intro__header {
  align-content: center;
  align-items: center;
  display: grid;
  grid-template-rows: 100px auto;
  min-height: 100dvh;
  position: absolute;
  text-align: center;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 90vw;
  z-index: 99;
}

.intro__main-header {
  font-size: 3.14em;
  color: var(--white);
  font-weight: 300;
  width: 90vw;
  max-width: 500px;
  text-align: left;
  margin: 0 auto 50px;
  letter-spacing: 0.1em;
}

.intro__sub-header {
  font-size: 1.57em;
  width: 90vw;
  max-width: 500px;
  text-align: left;
  margin: 0 auto;
  color: var(--white);
  font-weight: 300;
  letter-spacing: 0.1em;
}

.intro__details {
  color: var(--white);
  font-weight: 200;
  font-size: 22px;
  letter-spacing: 0.0314em;
  line-height: 38px;
  margin: 20px auto;
  max-width: 500px;
  text-align: left;
  width: 90vw;
}
.intro__details.code {
  border: 1px solid #96ff00;
  padding: 0 20px;
  font-size: 12px;
}
.intro__details a {
  color: var(--turquoise);
  text-decoration: none;
  font-weight: 300;
}
.intro__details a:hover {
  color: var(--turquoise-light);
}

.intro__items {
  min-height: 100dvh;
  opacity: 1;
  transition: opacity 1s ease-in;
}

.intro__item {
  height: 100dvh;
  width: 100vw;
  position: absolute;
}

.fractals {
  min-height: 100dvh;
  width: 100dvw;
  background: var(--black);
  position: relative;
  border-bottom: 1px dashed #595959;
}
.fractals--light {
  background: var(--light);
}
.fractals .fractals__header {
  align-content: center;
  align-items: center;
  display: grid;
  grid-template-rows: auto auto;
  text-align: center;
  margin: 0 5vw;
  height: auto;
  position: static;
  width: auto;
}

.fractals__header {
  top: 0;
  z-index: 99;
  display: grid;
  grid-template-rows: auto auto;
  align-content: center;
  align-items: center;
  height: auto;
  text-align: center;
  width: 100vw;
}
.fractals__header--full-view {
  height: 100dvh;
  position: absolute;
  top: 0;
  left: 0;
}

.fractals__main-header {
  font-size: 3.14em;
  margin: 0;
  color: var(--turquoise);
  font-weight: normal;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.fractals__sub-header {
  font-size: 1.57em;
  margin: 0;
  color: var(--turquoise);
  font-weight: normal;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.fractals__items {
  min-height: 70dvh;
  opacity: 1;
  transition: opacity 1s ease-in;
}

.fractals__item {
  height: 70dvh;
  width: 100vw;
}

.navigation {
  display: grid;
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 999;
  width: 100%;
}
.navigation__list {
  margin: 0;
  padding: 0;
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  grid-auto-columns: minmax(100px, 200px);
  list-style: none;
}
.navigation__list-item {
  pading: 0;
  text-align: center;
}
.navigation__link {
  text-decoration: none;
  color: #fff;
  font-size: 2em;
  transform: color 300ms ease-in;
}
.navigation__link:hover {
  color: var(--coral-red);
}

.sidebar {
  position: fixed;
  z-index: 998;
  left: -250px;
  width: 250px;
  height: 100%;
  background-color: #333;
  overflow-x: hidden;
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  padding-top: 60px;
}
.sidebar.open {
  left: 0;
}

.kebab-menu {
  position: absolute;
  z-index: 999;
  top: 20px;
  left: 20px;
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 24px;
}
.kebab-menu span {
  display: block;
  width: 25px;
  height: 3px;
  background: #fff;
}

.sidebar__list {
  list-style-type: none;
  padding: 0;
}
.sidebar__list .sidebar__list-item {
  padding: 10px 15px;
}
.sidebar__list .sidebar__link {
  text-decoration: none;
  color: white;
  display: block;
  transition: 0.3s;
}
.sidebar__list .sidebar__link:hover {
  color: #f1f1f1;
}

.shader-canvas {
  height: 100dvh;
  position: absolute;
  top: 0;
  left: 0;
}

.fractals__header.shader-canvas {
  background: #000000;
  position: absolute;
  top: 50px;
  left: 50%;
  margin: 0;
  padding: 50px;
  transform: translateX(-50%);
}