.fractals
    min-height: 100dvh
    width: 100dvw
    background: var(--black)
    position: relative
    border-bottom: 1px dashed #595959
    &--light
        background: var(--light)
    .fractals__header
        align-content: center
        align-items: center
        display: grid
        grid-template-rows: auto auto
        text-align: center
        margin: 0 5vw
        height: auto
        position: static
        width: auto

.fractals__header
    top: 0
    z-index: 99
    display: grid
    grid-template-rows: auto auto
    align-content: center
    align-items: center
    height: auto
    text-align: center
    width: 100vw
    &--full-view
        height: 100dvh
        position: absolute
        top: 0
        left: 0
.fractals__main-header
    font-size: 3.14em
    margin: 0
    color: var(--turquoise)
    font-weight: normal
    letter-spacing: 0.1em
    text-transform: uppercase

.fractals__sub-header
    font-size: calc(3.14em/2)
    margin: 0
    color: var(--turquoise)
    font-weight: normal
    letter-spacing: 0.1em
    text-transform: uppercase

.fractals__items
    min-height: 70dvh
    opacity: 1
    transition: opacity 1s ease-in

.fractals__item
    height: 70dvh
    width: 100vw

.shader-canvas, .fractals__item--full-view
    height: 100dvh
    position: absolute
    top: 0
    left: 0

.fractals__header.shader-canvas, .fractals__header.fractals__header--full-view
    background: #00000078
    position: absolute
    top: 50px
    left: 50%
    margin: 0
    padding: 50px
    transform: translateX(-50%)

.fractals__item--full-view.fractals__item--flip-vertical
    transform: scaleY(-1)

@media (max-width: 768px)
    .shader-canvas, .fractals__item--full-view
        height: 100dvh
        position: absolute
        top: 0
        left: 0

    .fractals__header.shader-canvas, .fractals__header.fractals__header--full-view
        background: #00000085
        position: absolute
        top: 70px
        left: 10px
        width: calc(100dvw - 40px)
        padding: 30px 10px
        transform: none
        border-radius: 10px
        border: 1px solid #FFFFFF30

    .fractals__main-header
        font-size: calc(3.14em/2)

    .fractals__sub-header
        font-size: calc(3.14em/3)
