.intro
    height: 100dvh
    width: 100dvw
    background: var(--viva-magenta)
    position: relative

.intro__header
    align-content: center
    align-items: center
    display: grid
    grid-template-rows: 100px auto
    min-height: 100dvh
    position: absolute
    text-align: center
    top: 0
    left: 50%
    transform: translateX(-50%)
    width: 90vw
    z-index: 99

.intro__main-header
    font-size: 3.14em
    color: var(--white)
    font-weight: 300
    width: 90vw
    max-width: 500px
    text-align: left
    margin: 0 auto 50px
    letter-spacing: 0.1em

.intro__sub-header
    font-size: calc(3.14em/2)
    width: 90vw
    max-width: 500px
    text-align: left
    margin: 0 auto
    color: var(--white)
    font-weight: 300
    letter-spacing: 0.1em

.intro__details
    color: var(--white)
    font-weight: 200
    font-size: 22px
    letter-spacing: .0314em
    line-height: 38px
    margin: 20px auto
    max-width: 500px
    text-align: left
    width: 90vw
    &.code
        border: 1px solid #96ff00
        padding: 0 20px
        font-size: 12px
    a
        color: var(--turquoise)
        text-decoration: none
        font-weight: 300
        &:hover
            color: var(--turquoise-light)

.intro__items
    min-height: 100dvh
    opacity: 1
    transition: opacity 1s ease-in

.intro__item
    height: 100dvh
    width: 100vw
    position: absolute
